<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Snip" Language="1033" Version="1.0.0.0" Manufacturer="Jim Tuck" UpgradeCode="0aacfc6b-3ee9-4ea0-bd00-c7303bb75b75">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Property Id="ARPPRODUCTICON">_D8D37E17C055</Property>
    <Icon Id="_D8D37E17C055" SourceFile="..\Snip\Resources\Snip.ico" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Snip is already installed." />
    <MediaTemplate />
    <Feature Id="ProductFeature" Title="Snip" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ResourceComponents" />
      <ComponentGroupRef Id="StartMenu" />
    </Feature>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Snip" >
          <Directory Id="RESOURCESFOLDER" Name="Resources" />
        </Directory>
      </Directory>
      <Directory Id="StartMenuFolder" />
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Snip">
        <File Source="$(var.Snip.TargetPath)" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ResourceComponents" Directory="RESOURCESFOLDER">
      <Component Id="En">
        <File Source="$(var.Snip.TargetDir)\Resources\Strings.resources" />
      </Component>
      <Component Id="deat">
        <File Source="$(var.Snip.TargetDir)\Resources\Strings.de-AT.resources" />
      </Component>
      <Component Id="dech">
        <File Source="$(var.Snip.TargetDir)\Resources\Strings.de-CH.resources" />
      </Component>
      <Component Id="dede">
        <File Source="$(var.Snip.TargetDir)\Resources\Strings.de-DE.resources" />
      </Component>
      <Component Id="frfr">
        <File Source="$(var.Snip.TargetDir)\Resources\Strings.fr-FR.resources" />
      </Component>
      <Component Id="nlnl">
        <File Source="$(var.Snip.TargetDir)\Resources\Strings.nl-NL.resources" />
      </Component>
      <Component Id="sese">
        <File Source="$(var.Snip.TargetDir)\Resources\Strings.se-SE.resources" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="StartMenu" Directory="StartMenuFolder">
      <Component Id="damnit" Guid="">
        <Shortcut Id="Short" Description="Snip" Name="Snip" Target="[INSTALLFOLDER]\Snip.exe" />
        <RegistryValue Root="HKCU" Key="Software\David Rudie\Snip" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>